<!DOCTYPE html>
<html>
<head>
  <title>Main map</title>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ google_key }}&libraries=geometry"></script>
</head>
<body onload="initMap()">
  <h1>This is the page for main map</h1>
  <a href="#" onclick="clearAll()">clear markers</a>
  <div id="map" style="width:100%; height:500px;"></div>

  <div id="result"></div>
  <div id="direction" style="display:none">{{ url_for('directions') }}</div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{
    url_for('static', filename='jquery-3.1.1.min.js') }}">\x3C/script>')</script>
  <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
